extends layout

block content
	script(type="text/javascript", src="javascripts/utils.js")
	h1 WaterGrapher 
		i.icon-bar-chart
	p An app to track water consumption
	div.row
		div#chartContainer
			
	form.form-inline.row#form
		input#total(type="text", placeholder="Cumulative total")
		select.input-small#timeSelect
			- for(i = 8; i <= 22; i++){
			option= i 
			- }
		button#addButton.btn.btn-primary Add Data
	
	div.row
		div.alert.alert-error#badTime Oh Snap! You can't plot data backwards in time! Leave that to Doc Brown
			button.close &times;
		div.alert.alert-error#badTotal What?! You can't undrink water and we don't chart yaks!
			button.close &times;



	div.row
		.accordion-group
			.accordion-heading
				a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapseOne')
					| Assignments
			#collapseOne.accordion-body.collapse.in
				.accordion-inner
					table.table.table-striped.table-hover.table-bordered
						tr
							th Name
							th Class
							th Due Date
						tr
							td Web Server Part 1
							td SOFTENG 325
							td  Last Year
						tr
							td Web Server Part 2
							td SOFTENG 325
							td  Last Year
						tr
							td Web Server Part 3
							td SOFTENG 325
							td  Last Year
		