extends layout

block content
	script(type="text/javascript", src="javascripts/flot/jquery.flot.js")
	script(type="text/javascript", src="javascripts/utils.js")
	script(type="text/javascript", src="javascripts/main.js")
	h1 WaterGrapher 
		i.icon-bar-chart
	p An app to track water consumption
	div.row
		div#chartContainer
			
	div.row
		form.form-inline(id="", method="", action="")
			input#total(type="text", placeholder="Cumulative total")
			select#timeSelect
				- for(i = 8; i <= 22; i++){
				option= i 
				- }
			button#addButton.btn.btn-primary Add Data
	div.row
		div.alert.alert-error#badTime Oh Snap! You can't plot data backwards in time! Leave that to Marty McFly
			button.close &times;
		div.alert.alert-error#badTotal What?! You can't undrink water and we don't chart yaks!
			button.close &times;

