<table class="table table-striped">
			  		<tr><th>When</th><th>Total Consumption</th> <th>Weight</th> <th>Over/under</th> </tr>
			  		<tr><td>Yesterday</td><td>Total Consumption</td><td>Weight</td><td>Over/under</td></tr>
			  		<tr><td>Yesterday</td><td>Total Consumption</td><td>Weight</td><td>Over/under</td></tr>
			  		<tr><td>Yesterday</td><td>Total Consumption</td><td>Weight</td><td>Over/under</td></tr>
			  		<tr><td>Yesterday</td><td>Total Consumption</td><td>Weight</td><td>Over/under</td></tr>
			  	</table>	